<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" class="form-control form-control-lg" placeholder="Ingrese la tarea..." [(ngModel)]="descripcionTarea" (keyup.enter)="agregarTarea()"> 
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3">
            <div class="card p-3" *ngIf="listaTareas.length == 0">
                <p>No hay tareas</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let tarea of listaTareas; let i=index">
                    <span class="cursor" (click)="actualizarTarea(tarea, i)">
                        <!-- 
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-sharp fa-regular fa-circle-check"></i>
                        -->
                        <i class="text-success" [ngClass]="tarea.estado ? 'fa-sharp fa-regular fa-circle-check' : 'fa-regular fa-circle'"></i>
                    </span>
                    {{tarea.descripcion}}
                    <span class="cursor" (click)="eliminarTarea(i)">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </li>
              </ul>
        </div>
    </div>
</div>